# Expo / React Native
.expo/
.expo-shared/
metro-cache/
android/
ios/
node_modules/

# Build
web-build/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Env
.env
.env.*.local
