# ---------------------------------
# Expo / React Native
# ---------------------------------

# Expo project files
.expo/
.expo-shared/

# Metro bundler cache
metro-cache/
# React Native build folders
android/app/build/
ios/build/

# Expo environment types
expo-env.d.ts

# Node modules
node_modules/

# ---------------------------------
# TypeScript / JavaScript
# ---------------------------------
# Compiled JS files
*.js
*.jsx
*.ts
*.tsx
*.d.ts
*.map

# TypeScript cache
*.tsbuildinfo

# ---------------------------------
# Logs
# ---------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---------------------------------
# macOS
# ---------------------------------
.DS_Store

# ---------------------------------
# Web / Build
# ---------------------------------
web-build/
dist/
build/

# ---------------------------------
# Other
# ---------------------------------
.env
.env.*.local

